.container {
    width: 1366px;
    height: 768px; 
    margin: 0 auto;
background-image:url(./Image/background\ 1.png);
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo-holidel{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
display: flex;
align-items:left;
margin-top: 42px;
margin-left: 10px;
flex-flow: column; 
color: #FFFFFF;

}

.logo-milan{
    width: 53px;
    height: 47px; 
    margin: 51px 0 26px 161px;
    display: flex;
    background-image: url(./Image/logo\ 1.svg);
  
}
.logo-holidel:hover .logo{

    color: #F26522;
}
.logo-holidel:hover .logo-milan{
background-image: url(./Image/logo\ 2.svg);
    color: #F26522;}

.text-milan {
    display: inline-block;}
 
 
.text-holidays {
    display: inline-block;
   
   

}
.contacts:hover{
    color: #F26522;
    
} 
.contacts{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    margin: 46px 171px 17px 0;
    color: #FFFFFF;
}

    .text-telefon {
display: flex;
justify-content: flex-end;
margin-top: 19px;
}

.mau{
    display: flex;
    gap: 15px;
    text-decoration: none;
}

.text{
    display: block;
    text-align: center;
    color: #FFFFFF;
    margin: 20px;
    font-size: 18px;
    
}
.cab{
    text-decoration: none;
}
.Shopping{
    margin-left: 165px;
    position: relative;


}
.Shopping-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 65px;
    right: 0;
    left: 2px;
    height: 55px;
    width: 300px;
    background-image: url(./Image/Hover\ 1.png);
    
}
.text:hover{
    color: #F26522;
    }
.blok-left{
    display: flex;
    flex-flow: column; 
    width: 50px;  
    height: 50px; 
    padding-left: 16px;
}
.left-text-1{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 10px;
   margin-top: 7px;
    
}
.left-text-2{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 8px;
    
}
.right-text{
    display: flex;
    color: #FFFFFF;
    font-size: 14px; 
     margin-top: 17px; 
     align-items: center;

}
.right-img{
    margin: 0px 16px 0px 16px;
}
.Shopping:hover .Shopping-border{
    opacity: 1;}

 

.Sightseeing{
    margin-left: 61px;
    position: relative;
}
.Sightseeing-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 61px;
    right: 0;
    left: 0px;
    height: 58px;
    width: 307px;
    background-image: url(./Image/Hover\ 1.png);
    
}   

.Sightseeing:hover .Sightseeing-border{
    opacity: 1;}
.Food{
    margin-left: 62px; 
    position: relative;
}
.Food-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 63px;
    right: 0;
    left: 0px;
    height: 58px;
    width: 307px;
    background-image: url(./Image/Hover\ 1.png);
    
}   

.Food:hover .Food-border{
    opacity: 1;}

.Bars{
    margin-left: 163px;
    position: relative;
}
.Bars-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 62px;
    right: 0;
    left: 0px;
    height: 58px;
    width: 304px;
    background-image: url(./Image/Hover\ 1.png);
    
}   
.Bars:hover .Bars-border{
    opacity: 1;}
.Art{
    margin-left: 64px;
    position: relative;
}
.Art-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 63px;
    right: 0;
    left: 0px;
    height: 55px;
    width: 304px;
    background-image: url(./Image/Hover\ 1.png);
    
}   
.Art:hover .Art-border{
    opacity: 1;}
.Walking{
    margin-left: 63px; 
    position: relative;
}
.Walking-border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 62px;
    right: 0;
    left: 0px;
    height: 55px;
    width: 304px;
    background-image: url(./Image/Hover\ 1.png);
    
}   
.Walking:hover .Walking-border{
    opacity: 1;}

h5{
    text-align: center;
    margin-top: 49px;
    font-size: 12px;
    color: #FFFFFF;
}
